.footer {
    background: #222222;
    border-top: 1px solid #fff;
    padding: 25px 0;

    &_text {
        text-align: center;
        width: 100%;
    }
}

.form_consultation {
    width: 50%;
    background: rgb(34, 34, 34);
}
.fancybox-slide--html .fancybox-close-small {
    color: #fff;
}    
// footer =================================>